html {
    background-color: rgb(195, 184, 184);
    
}
h1 
{
    display: flex;
    justify-content: space-between;
   color:rgb(98, 93, 93);
}
ul li {
    
    display: inline-flex;
    justify-content: space-around;
    

}